#if no property annotation processor scans all project
package = {{apiPackage}}

# default value org.springframework.kafka.annotation.KafkaHandler
#kafka.handler.annotaion = com.example.demo.annotation.MyKafkaHandler
# if false use only custom annotation. If true use custom annotation and spring annotation
use.standart.kafkahandler.annotation = true
#kafka.access.token.header = SERVICE_ACCESS_TOKEN
language = eng